@font-face {
    font-family: 'Kinetika';
    src: local('Kinetika Bold'), local('Kinetika-Bold'),
        url('Kinetika-Bold.woff2') format('woff2'),
        url('Kinetika-Bold.woff') format('woff'),
        url('Kinetika-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }